<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
<head>
	<title>SmarterFitter Nutritional Database</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name='description' content='Search our database for calorie, carbohydrate, fat, protein and nutrient information for a wealth of foods.  Customize the results to match the quantities of the foods you eat.'/>
	<meta name='keywords' content='smarterfitter, nutritional, database, calorie, calories, carb, carbohydrate, atkins, diet, food, nutrition, health, protein, fat, nutrient, vitamin, weight loss, dieting, health'/>
	<%= stylesheet_link_tag 'default' %>
	
</head>

<body>
<div id="center_column">
	<div id="menu_bar">
		<h1>SmarterFitter</h1>
	</div>
	<h2>Nutritional Database</h2>
	
	<p>Calories, carbohydrates, fat, protein and more!  The database contains extensive nutrient information for a wealth of different food items. Search below and customize the results to match the foods you eat.</p>

	<%= render :partial => 'form' %>
</div>
</body>
</html>
