<h1>Editing link_suggestion</h1>

<% form_tag :action => 'update', :id => @link_suggestion do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @link_suggestion %> |
<%= link_to 'Back', :action => 'list' %>
