<% for column in LinkSuggestion.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @link_suggestion.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @link_suggestion %> |
<%= link_to 'Back', :action => 'list' %>
