<li id="portion_<%= i %>">
	<%= ingredient.description %>
	<%= link_to_remote "Delete", :url => {:action => :delete_portion, :id => i}, 
			:confirm => "Are you sure you want to delete this ingredient?" %>
	<input type="hidden" name="portion[<%= i %>][weight_id]" value="<%= ingredient.weight.id %>"/>
	<input type="hidden" name="portion[<%= i %>][quantity]" value="<%= ingredient.quantity %>"/>
</li>
