<li>
	<%= link_to_remote food.long_description, 
			:update => "food_#{food.id}",
			:before => "var divs = document.getElementsByTagName('div'); for(var i = 0; i < divs.length; i++) {if(divs[i].id.match(/food_/) && Element.hasClassName(divs[i], 'current')){ divs[i].removeClassName('current');new Effect.SlideUp(divs[i].id); }}",
			:complete => "$('food_#{food.id}').addClassName('current'); new Effect.SlideDown('food_#{food.id}');",
			:url => { :action => "show_portion", :id => food.id }
	%>
	<div id="<%= "food_#{food.id}" %>"></div>
</li>
