<table class="summary_table">
	<tr>
		<th>Today</th>
		<th>Calories</th>
		<th>Fat(g)</th>
		<th>Protein(g)</th>
		<th>Carbs(g)</th>
		<th></th>
	</tr>
	<%- if @user.portions_for_today? -%>
		<%= render :partial => "portion", :collection => @user.portions_for_today %>
		<tr id="totals_today">
			<td>Totals</td>
			<td class="numeric"><%= h(@user.energy_today) %></td>
			<td class="numeric"><%= h(@user.fat_today) %></td>
			<td class="numeric"><%= h(@user.protein_today) %></td>
			<td class="numeric"><%= h(@user.carbohydrate_today) %></td>
			<td></td>
		</tr>
	<%- else -%>
		<tr>
			<td colspan="6">
				<em>You haven't added any food today. Get started by searching for food on the right!</em>
			</td>
		</tr>
	<%- end -%>

</table>
