<table id="summary">
	<tr>
		<td>
			<p class="label">Calories</p>
			<p class="data"><strong><%= h(number_with_precision(@user.energy_today, 0)) %></strong> <span class="unit">kcal</span></p>
		</td>
		<td>
			<p class="label">Fat</p>
			<p class="data"><strong><%= h(number_with_precision(@user.fat_today, 0)) %></strong> <span class="unit">grams</span></p>
			<p class="context_percentage"><%= h(number_to_percentage(@user.percent_calories_from_fat, :precision => 1)) %> calories from fat</p>
		</td>
		<td>
			<p class="label">Protein</p>
			<p class="data"><strong><%= h(number_with_precision(@user.protein_today, 0)) %></strong> <span class="unit">grams</span></p>
			<p class="context_percentage"><%= h(number_to_percentage(@user.percent_calories_from_protein, :precision => 1)) %> calories from protein</p>
		</td>
		<td>
			<p class="label">Carbs</p>
			<p class="data"><strong><%= h(number_with_precision(@user.carbohydrate_today, 0)) %></strong> <span class="unit">grams</span></p>
			<p class="context_percentage"><%= h(number_to_percentage(@user.percent_calories_from_carbohydrate, :precision => 1)) %> calories from carbohydrate</p>
		</td>
	</tr>
</table>				


<table class="summary_table">
	<tr>
		<th class="first">Food</th>
		<th>Calories</th>
		<th>Fat</th>
		<th>Protein</th>
		<th>Carbs</th>
		<th></th>
	</tr>
	<%- if @user.portions_for_today? -%>
		<%= render :partial => "portion", :collection => @user.portions_for_today %>
	<%- else -%>
		<tr>
			<td colspan="6">
				<em>You haven't added any food today. Get started by searching for food on the right!</em>
			</td>
		</tr>
	<%- end -%>

</table>
