<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

	<title>SmarterFitter Food Diary</title>
	
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "effects" %>
	
	<style type="text/css">
	
	body {
		font-family: "trebuchet ms";
		color: #3E3E3E;
		margin: 0px;
		background-color: #eee;
	}
	h1 {
		margin-top: 0px;
		color:#33241A;
		text-align: center;
	}
	h2 {
			color:#806959;
	}
	h3 {
		color:#806959;
	}

	#menu_bar {
	  height: 65px;
	}

	#menu_bar h1 {
		text-align: left;
		font-size: 35px;
		padding-top: 20px;
	}

	#menu_bar ul {
		float: right;
		list-style: none;
		margin: 0px;
		padding: 11px;
		text-align: right;
	}

	#menu_bar li {
		display: inline;
	}

	#menu_bar li:before { 
		content: "| "; 
		color: gray;
	}

	#menu_bar li:first-child:before { 
		content: ""; 
	}

	

	#layout_context {
		position: relative;
		margin-left: 25px;
		margin-right: 25px;
	}
	
	#centering_box {
		position: absolute;
		width: 1000px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	
	.column {
		background-color: white;
		float: left;
	}

	#left_column {
		clear: left;
		background-color: #fff;
		padding: 20px;
		width: 540px;
	}
	
	#right_column {
		margin-left: 20px;
		width: 380px;
		background-color: #eee;
		font-size: small;
	}
	
	table {
		border-collapse: collapse;
	}
	th, td {
		padding: 7px;
		border-right: 1px solid #ddd;
	}
	th {
		border: 1px solid #ddd;
		background-color: #ccc;
	}
	th.first {
		text-align: left;
	}
	
	.summary_table {
		width: 100%;
	}
	.list_line_odd {
		background-color: #fff;
	}
	.list_line_even {
		background-color: #eee;
	}
	#totals_today {
		font-weight: bold;
	}
	#totals_today td {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background: #d9ffd9;
	}
	.numeric {
		text-align: right;
	}
	.actions {
		text-align: center;
		font-size: 10px;
	}
	.food_being_edited {
		background-color: #FFFFE0;
		border: 2px solid #FFD700;
		padding: 5px;
	}
	
	table#summary {
		margin-bottom: 10px;
		width: 100%;
	}
	
	table#summary tr td {
		border: 1px solid black;
		width: 25%;
		vertical-align: top;
	}
	
	table#summary tr td p.label {
		font-size: small;
		margin: 0px;
		padding: 0px;
		
	}
	table#summary tr td p.data {
		font-size: x-large;
		margin: 0px;
		padding: 0px;
		line-height: 140%;
	}
	table#summary tr td p.data span.unit{
		font-size: small;
	}
	table#summary tr td p.context_percentage{
		font-size: x-small;
		margin: 0px;
		padding: 0px;
	}

	#right_column ul {
		padding: 0px;
	}
	
	#right_column ul li {
		list-style-type: none;
		line-height: 140%;
	}
	
	.sub_h1 {
		font-size: 0.8em;
		color:#806959;
	}
		
	</style>

</head>

<body>
	<div id="layout_context">
		<div id="centering_box">
			<div id="menu_bar">
				<ul>
					<li><%= link_to("Food/Calorie Database", :controller => "foods") %></li>
					<li><%= link_to("RunLog", :controller => "runlog") %></li>
					<li><%= link_to("BMI Calculator", :controller => "calculators", :action => "bmi") %></li>
				</ul>
				<h1>SmarterFitter <span class="sub_h1">Food Diary</span></h1>
			</div>
			<div id="left_column" class="column">
				<h3>Today</h3>
				<div id="today">
					<%= render :partial => 'today' %>
				</div>
				<h3>Previously</h3>
				<table id="averages" class="summary_table">
					<tr>
						<th>Averages</th>
						<th>Calories</th>
						<th>Fat(g)</th>
						<th>Protein(g)</th>
						<th>Carbs(g)</th>
					</tr>
					<tr>
						<td>Yesterday</td>
						<td class="numeric"><%= @user.energy_yesterday %></td>
						<td class="numeric"><%= @user.fat_yesterday %></td>
						<td class="numeric"><%= @user.protein_yesterday %></td>
						<td class="numeric"><%= @user.carbohydrate_yesterday %></td>
					</tr>		
					<tr>
						<td>Last 7 Days</td>
						<td class="numeric"><%= @user.average_energy_last_seven_days %></td>
						<td class="numeric"><%= @user.average_fat_last_seven_days %></td>
						<td class="numeric"><%= @user.average_protein_last_seven_days %></td>
						<td class="numeric"><%= @user.average_carbohydrate_last_seven_days %></td>
					</tr>		
					<tr>
						<td>Last 30 Days</td>
						<td class="numeric"><%= @user.average_energy_last_thirty_days %></td>
						<td class="numeric"><%= @user.average_fat_last_thirty_days %></td>
						<td class="numeric"><%= @user.average_protein_last_thirty_days %></td>
						<td class="numeric"><%= @user.average_carbohydrate_last_thirty_days %></td>
					</tr>		
					<tr>
						<td>All time</td>
						<td class="numeric"><%= @user.average_energy %></td>
						<td class="numeric"><%= @user.average_fat %></td>
						<td class="numeric"><%= @user.average_protein %></td>
						<td class="numeric"><%= @user.average_carbohydrate %></td>
					</tr>		
				</table>
			</div>
			<div id="right_column" class="column">
				<% form_remote_tag :update => "search_results", :url => {:action => "search"} do %>
					<label for="q">Search</label> <%= text_field_tag "q" %>
					<%= submit_tag "Search" %>
				<% end %>
				<div id="search_results">
				</div>
			</div>
		</div>
	</div>
</body>
</html>