<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

	<title>SmarterFitter Food Diary</title>
	
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "effects" %>
	
</head>

<body>
	<div id="today">
		<%= render :partial => 'today' %>
	</div>

	<% form_remote_tag :update => "search_results", :url => {:action => "search"} do %>
		<label for="q">Search</label> <%= text_field_tag "q" %>
		<%= submit_tag "Search" %>
	<% end %>
	<div id="search_results">
	</div>
</body>
</html>