a:link { color:#B34700; }
a:visited { color:#BF8660; }
a:active { color:#00FF00; }
a:hover { 
	color:#000099;
	background-color:#FFFF00;
}
body {
	font-family: "trebuchet ms";
	color: #3E3E3E;
	margin: 0px;
}
h1 {
	margin-top: 0px;
	color:#33241A;
	text-align: center;
}
h2 {
		color:#806959;
}
h3 {
	color:#806959;
}
form ul {
	list-style: none;
}
form ul li {
	padding-bottom: 1em;
}
label {
	font-size: 20px;
	color: #000000;
	padding-right: 1em;
}
input {
	font-size: 20px;
	font-family: "trebuchet ms";
}
select {
	font-size: 20px;
	font-family: "trebuchet ms";
}
/*
input[type="text"] {
	width: 10em;
	vertical-align: middle;
}
*/
dt {
	font-weight: bold;
	font-size: 18px;
}
dd {
	margin-bottom: 2em;
}
.submit {
	padding-left: 5em;
}
.example_text {
	margin-left: 6em;
	font-style: italic;
}
.nutrient_table {
	width: 305px;
}
.nutrient_category {
	background-color: #B34700;
}
.sub_nutrient {
	padding-left: 2em;
}
.nutrient_value {
	text-align: right;
}
#calculator {
	border: solid;
}
#menu_bar {
  height: 65px;
}
#menu_bar h1 {
	text-align: left;
	font-size: 35px;
	padding-top: 20px;
}
#menu_bar ul {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 11px;
	text-align: right;
}
#menu_bar li {
	display: inline;
}
#menu_bar li:before { 
	content: "| "; 
	color: gray;
}
#menu_bar li:first-child:before { 
	content: ""; 
}
#footer {
	margin-top: 200px;
	padding: 10px;
	border-top: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: small;
	font-weight: lighter;
	text-align: right;
	color: #aaaaaa;
}
#footer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#footer li {
	display: inline;
}
#footer li:before { 
	content: " | "; 
}
#footer li:first-child:before { 
	content: ""; 
}
#center_column {
	width:600px;
	border-style: solid;
	border-width: 0px;
	border-color: #CCCCFF;;
	margin: 0px auto;
	padding-left: 10px;
	padding-right: 10px;

}
#result {
	font-size: 20px;
}
#result ul {
	list-style: none;
	color: #000000;
}
#bmi {
	font-size: 25px;
	color: #FF6600;
	text-transform: capitalize;
	padding-left: 1em;
}
#bmi_interpreted {
	font-size: 25px;
	color: #FF6600;
	text-transform: capitalize;
	padding-left: 1em;
}
#bmi_source {
	color: #7E7E7E;
	font-style: italic;
}
#error_message {
	color: #FF6600;
	font-size: 20px;
	display: none;
}
#instructions {
	font-size: 20px;
}
#weight_status {
	width: 50%;
}
table {
	border-collapse: collapse;	
}
th {
	padding: 5px;
	background: #BF8660;
}
td {
	padding: 5px;
	background: #E6D8CF;
}
.numeric_column {
	text-align: right;
}


/* Runlog styles */



#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.run {
	margin-bottom: 15px;
	width: 95%;
}

.run_label {
	color: darkgray;
}

.run_data {
}

.run_list {
	list-style: none;	
	padding: 0;
	margin: 0;
}

.run_action_list {
	font-style: italic;
	list-style: none;
	padding: 0;
	margin: 0;
}

.run_action_list li {
	font-size: smaller;
	display: inline;
	padding: 0;
	margin: 0;
}

.run_action_list li:before { 
	content: "| "; 
}

.run_action_list li:first-child:before { 
	content: ""; 
}

#top_menu {
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: smaller;
}	

#left_column {
}

#new_run {
}

h1.title {
	margin-top: 0px;
	padding-top: 0px;
}


.login_input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

.login_label {
	display: block;
	text-align: right;
	width: 100px;
	padding-right: 20px;
	float: left;
	margin-bottom: 10px;
}

.login_button_container {
	width: 270px;
	text-align: right;
}

br {
	clear: left;
}

.signup_input {
	display: block;
	width: 250px;
	float: left;
	margin-bottom: 10px;
}

.signup_label {
	display: block;
	text-align: right;
	width: 140px;
	padding-right: 20px;
	float: left;
	margin-bottom: 10px;
}

.signup_button_container {
	width: 410px;
	text-align: right;
}

#map-help {
	width: 200px;
	padding: 2em;
	background-color: #E6D8CF;
	position: relative;
	left: 610px;
	float: left;
}

#map-help h1 {
	font-size: 20px;
}

#map-help ol {
	font-size: 16px;
	padding: 0px;
}