
	<h2>Thank you!</h2>
	<p>You've created an account with SmarterFitter. This account gives you access to:</p>
	<ul>
		<li><%= link_to("Food Log", :controller => "diary", :action => "index") %></li>
		<li><%= link_to("Run Log", :controller => "runlog", :action => "list") %></li>
	</ul>

	<p>You can contact us with suggestions at <a href="mailto:smarterfitter@gmail.com">smarterfitter@gmail.com</a>.</p>

	<p>-Monica and Tim</p>
