	<h2>Food Database</h2>
	
	<p>Calories, carbohydrates, fat, protein and more!  The database contains extensive nutrient information for a wealth of different food items. Search below and customize the results to match the foods you eat.</p>

	<%= render :partial => 'form' %>
