<script type="text/javascript" charset="utf-8">
	function setup() {
		var snd = document.getElementById('simple_nutrient_data');
		var cnd = document.getElementById('complete_nutrient_data');
		cnd.style.display = 'none';
		document.getElementById('show_complete_nutrient_data').onclick = function() {
			snd.style.display = 'none';
			cnd.style.display = 'block';
			return false;				
		}
		document.getElementById('show_simple_nutrient_data').onclick = function() {
			snd.style.display = 'block';
			cnd.style.display = 'none';
			return false;				
		}
	}
	window.onload = setup;
</script>
	

<p style="color: green"><%= flash[:notice] %></p>

<%= render(:partial => "form") %>

<h2><%= @food.long_description %></h2>

<% form_tag( { :action => 'show' }, { :method => :get } ) do %>
	Serving size
	<%= text_field_tag 'amount', @portion.quantity, { :size => 5 } %> x
	<%= select 'weight', :id, @food.weights_as_measure_id_array %>
	<%= submit_tag 'Change' %>
<% end %>
<p>Amount per <%= @portion.quantity %> <%= @portion.weight.measure_description %></p>

<%= show_chart %>

<div id="simple_nutrient_data">
<table id="simple_nutrient_data_table" class="nutrient_table">
	<p><a id="show_complete_nutrient_data" href="#complete_nutrient_data">Show complete nutrient data</a></p>
	<tr style="display:none">
		<th>Nutrient</th>
		<th>Amount</th>
	</tr>
	<tr>
		<td>Calories</td>
		<td class="nutrient_value">
			<%= @portion.energy || "~" %>
		</td>
		<td>
			<%= @food.energy.nutrient.units %>			
		</td>
	</tr> 
	<tr>  
		<td>Protein</td>
		<td class="nutrient_value">
			<%= @portion.protein || "~" %>
		</td>
		<td>
			<%= @food.protein.nutrient.units %>		
		</td>
	</tr> 
	<tr>  
		<td>Fat</td>
		<td class="nutrient_value">
			<%= @portion.fat  || "~"%>
		</td>
		<td>
			<%= @food.fat.nutrient.units %>			
		</td>
	</tr>
	<tr>  
		<td>Carbohydrate</td>
		<td class="nutrient_value">
			<%= @portion.carbohydrate || "~" %>
		</td>
		<td>
			<%= @food.carbohydrate.nutrient.units %>			
		</td>
	</tr> 
	
	</table>
</div>

<div id="complete_nutrient_data">
	<p><a id="show_simple_nutrient_data" href="#simple_nutrient_data">Show simple nutrient data</a></p>
	<table id="complete_nutrient_data_table" class="nutrient_table">
	<tr>
		<td>Calories</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("208") || "~" %>
		</td>
		<td>
			<%= @food.nutrient("208").nutrient.units if @food.nutrient("208") %>
		</td>
	</tr>
	<tr>
		<td>Fat</td> 
		<td class="nutrient_value">
			<%= @portion.nutrient("204") || "~" %>
		</td>
		<td>
			<%= @food.nutrient("204").nutrient.units if @food.nutrient("204") %>
		</td>
	</tr>
	<tr>
		<td class="sub_nutrient">Saturated</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("606") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("606").nutrient.units if @food.nutrient("606") %>
		</td>
	</tr>
	<tr>
		<td class="sub_nutrient">Monounsaturated</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("645") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("645").nutrient.units if @food.nutrient("645") %>
		</td>
	</tr>
	<tr>
		<td class="sub_nutrient">Polyunsaturated</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("646") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("646").nutrient.units if @food.nutrient("646") %>
		</td>
	</tr>
	<tr>
		<td class="sub_nutrient">Cholesterol</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("601") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("601").nutrient.units if @food.nutrient("601") %>
		</td>
	</tr>
	<tr>
		<td>Carbohydrate</td> 
		<td class="nutrient_value">
			<%= @portion.nutrient("205")  || "~"%>
		</td>
		<td>
			<%= @food.nutrient("205").nutrient.units if @food.nutrient("205") %>
		</td>
	</tr>
	<tr>
		<td class="sub_nutrient">Fiber</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("291") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("291").nutrient.units if @food.nutrient("291") %>
		</td>
	</tr>
	<tr>
		<td class="sub_nutrient">Sugar</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("269") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("269").nutrient.units if @food.nutrient("269") %>
		</td>
	</tr>
	<tr>
		<td>Protein</td> 
		<td class="nutrient_value">
			<%= @portion.nutrient("203") || "~" %>
		</td>
		<td>
			<%= @food.nutrient("203").nutrient.units if @food.nutrient("203") %>
		</td>
	</tr>
	<tr>
		<td>Sodium</td> 
		<td class="nutrient_value">
			<%= @portion.nutrient("307") || "~" %>
		</td>
		<td>
			<%= @food.nutrient("307").nutrient.units if @food.nutrient("307") %>
		</td>
	</tr>
	<tr>

		<th colspan="3">Minerals</th>
	</tr>
	<tr>
		<td>Calcium</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("301") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("301").nutrient.units if @food.nutrient("301") %>
		</td>
	</tr>
	<tr>
		<td>Iron</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("303") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("303").nutrient.units if @food.nutrient("303") %>
		</td>
	</tr>
	<tr>
		<td>Magnesium</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("304") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("304").nutrient.units if @food.nutrient("304") %>
		</td>
	</tr>
	<tr>
		<td>Phosphorus</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("305") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("305").nutrient.units if @food.nutrient("305") %>
		</td>
	</tr>
	<tr>
		<td>Potassium</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("306") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("306").nutrient.units if @food.nutrient("306") %>
		</td>
	</tr>
	<tr>
		<td>Sodium</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("307") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("307").nutrient.units if @food.nutrient("307") %>
		</td>
	</tr>
	<tr>
		<td>Zinc</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("309") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("309").nutrient.units if @food.nutrient("309") %>
		</td>
	</tr>
	<tr>
		<td>Copper</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("312") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("312").nutrient.units if @food.nutrient("312") %>
		</td>
	</tr>
	<tr>
		<td>Fluoride</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("313") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("313").nutrient.units if @food.nutrient("313") %>
		</td>
	</tr>
	<tr>
		<td>Manganese</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("315") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("315").nutrient.units if @food.nutrient("315") %>
		</td>
	</tr>
	<tr>
		<td>Selenium</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("317") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("317").nutrient.units if @food.nutrient("317") %>
		</td>
	</tr>
	<tr>

		<th colspan="3">Vitamins</th>
	</tr>
	<tr>
		<td>Vitamin A</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("318") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("318").nutrient.units if @food.nutrient("318") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin B-6</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("415") || "~" %>
		</td>
		<td>
			<%= @food.nutrient("415").nutrient.units if @food.nutrient("415") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin B-12</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("418") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("418").nutrient.units if @food.nutrient("418") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin B-12 added</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("578") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("578").nutrient.units if @food.nutrient("578") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin C</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("401") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("401").nutrient.units if @food.nutrient("401") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin D</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("324") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("324").nutrient.units if @food.nutrient("324") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin E (alpha-tocopherol)</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("323") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("323").nutrient.units if @food.nutrient("323") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin E added</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("573") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("573").nutrient.units if @food.nutrient("573") %>
		</td>
	</tr>
	<tr>
		<td>Vitamin K</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("430") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("430").nutrient.units if @food.nutrient("430") %>
		</td>
	</tr>
	<tr>
		<td>Thiamin</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("404") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("404").nutrient.units if @food.nutrient("404") %>
		</td>
	</tr>
	<tr>
		<td>Riboflavin</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("405") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("405").nutrient.units if @food.nutrient("405") %>
		</td>
	</tr>
	<tr>
		<td>Niacin</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("406") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("406").nutrient.units if @food.nutrient("406") %>
		</td>
	</tr>
	<tr>
		<td>Folate</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("417") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("417").nutrient.units if @food.nutrient("417") %>
		</td>
	</tr>
	<tr>
		<td>Folic acid</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("431") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("431").nutrient.units if @food.nutrient("431") %>
		</td>
	</tr>
	<tr>

		<th colspan="3">Other</th>
	</tr>
	<tr>
		<td>Alcohol</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("221") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("221").nutrient.units if @food.nutrient("221") %>
		</td>
	</tr>
	<tr>
		<td>Water</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("255") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("255").nutrient.units if @food.nutrient("255") %>
		</td>
	</tr>
	<tr>
		<td>Caffeine</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("262") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("262").nutrient.units if @food.nutrient("262") %>
		</td>
	</tr>
	<tr>
		<td>Theobromine</td>
		<td class="nutrient_value">
			<%= @portion.nutrient("263") || "~"%>
		</td>
		<td>
			<%= @food.nutrient("263").nutrient.units if @food.nutrient("263") %>
		</td>
	</tr>
</table>
</div>

