Chain Saved<br/>
Url for this chain: <%= request.protocol + request.host_with_port + url_for(:action => :index, :key => session[:chain].key) %><br/>
Bookmark this page to return to <%= link_to session[:chain].name, :action => :index, :key => session[:chain].key %>.